<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-danger" %>
<h1 class="text-center">Tweets</h1>


<% @tweets.each do |tweet| %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 text-center">
        <td><%= image_tag(tweet.user.profile_url, size: "100x100") %></td>
      </div>
      <div class="col-md-8">
      <div class="card-body">
            <h5 class="card-title"><td><%= tweet.user %></td>:</h5>
            <p class="card-text"> <td><%= tweet.content %></td></p>
          
          
              <td><%= link_to "like", tweet_likes_path(tweet.id), method: :post %></td>
            <p class="card-text"><small class="text-muted"><%= tweet.created_at %></small></p>
      </div>
      </div>
    </div>  
  </div>
<% end %>



